


<h1>Hello, {{ title }}</h1>
<p>Congratulations! Your app is running. 🎉</p>
<h3>Routes</h3>
<nav style="display: flex; flex-direction: column; gap: 10px;">
  <a routerLink="first-component" routerLinkActive="active">First component</a>
  <a routerLink="second-component" routerLinkActive="active">Second component</a>
  <a routerLink="third-component" routerLinkActive="active">Third component</a>
  <a routerLink="my-new" routerLinkActive="active">My New Component</a>
  <a routerLink="my-button" routerLinkActive="active">My Button Component</a>
</nav>
<router-outlet />

